body {
      background-color: black;
      color: black;
      font-family: sans-serif;
      margin: 0;
  }

  iframe, .iframe-controls-container {
      display: none !important;
  }

  .main {
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    transition: opacity 1000ms ease;
    -webkit-transition: opacity 1000ms ease;
    opacity: 1;
    box-sizing: border-box;
  }

  a {
    position: fixed;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    padding: 1.5em;
    bottom: 0;
    left: 0;
    letter-spacing: 3px;
    z-index: 9999;
    color: #978852;
    font-family: 'Avenir', sans-serif;
    font-size: 2em;
    text-decoration: none;
    transition: color 150ms ease;
    -webkit-transition: color 150ms ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  a:hover {
    color: #6b613c;
  }

  .opacZero {
    opacity: 0;
  }